@import "tailwindcss";

/* Hide scrollbar but keep scroll functional */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html {
  scroll-behavior: smooth;
}

